---
---


<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="text-center">
					<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
				</p>
			</div>
		</div>
	</div>
</footer>
<style>
	footer {
		background-color: var(--main-color);
		color: var(--light-default-color);
		padding: 20px 0;
	}

	footer a {
		color: var(--light-default-color);
	}
</style>