---
import { Icon } from 'astro-icon/components';
---


<header>
	<nav>
		<div class="logo">
			<Icon name="logo" />
		</div>
		<ul class="menu">
			<li><a href="/">Home</a></li>
			<li><a href="/teams">Teams</a></li>
			<li><a href="/playes">Players</a></li>
			<li><a href="/about">About</a></li>
		</ul>
		<ul class="social">
			<li>
				<a href="https://github.com/alexygallar2/TeamSoccerInfo" target="_blank" rel="noopener noreferrer">
					<Icon name={"github"} />
				</a>
			</li>
		</ul>
	</nav>
</header>

<style>
	header {
		box-shadow: 0px 0px 10px var(--dark-default-color);
		background-color: var(--main-color);
		border-radius: 0 0 10px 10px;
		border-bottom: 2px solid var(--light-default-color);
		display: flex;
		flex-direction: column;
        position: sticky;
        top: 0;
		z-index: 2;
		animation: change-color linear forwards;
		animation-timeline: scroll(root block);
	}

	@keyframes change-color {
 	 	from { 
			background: var(--main-color); 
			color: var(--dark-default-color);
			box-shadow: 0px 0px 10px var(--dark-default-color);
			border-bottom: 2px solid var(--light-default-color);
		}
  		to { 
			background: var(--dark-default-color);
			color: var(--light-default-color);
			box-shadow: 0px 0px 10px var(--light-default-color);
			border-bottom: 3px solid var(--hover-default-color);
		}
	}

	nav {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.logo {
		margin-top: 0;
		align-self: center;
		border-radius: 8px;
		font-size: larger;
		max-width: fit-content;
		transition: all 0.3s ease;
	}

	.logo svg {
		width: 96px;
		height: 64px;
		color: var(--light-default-color);
		fill: currentColor;
	}

	.logo svg:hover {
		color: var(--hover-default-color);
		rotate: 5deg;
	}

	.menu {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.menu li + li {
		margin-left: 1rem;
	}

	.menu a {
		display: inline-block;
		text-decoration: none;
		font-size: 1.25rem;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		color: var(--light-default-color);
		background-color: var(--accent-gradient);
		transition: all 0.3s ease;
	}

	.menu a:hover {
		background-color: var(--hover-default-color);
		color: var(--dark-default-color);
		margin-top: -20px;
		rotate: 5deg;
		border-bottom: 5px solid var(--border-default-color);
	}

	.social {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
	}
	
	.social a {
		margin: 0 0.5rem;
		text-decoration: none;
	}

	.social a svg {
		width: auto;
    	height: 1.75rem;
    	color: var(--light-default-color);
    	fill: currentColor;
    	transition: all 0.3s ease;
  	}
  	
  	.social a svg:hover {
    	color: var(--hover-default-color);
		fill: currentColor;
    	rotate: 5deg;
  	}
</style>